---
import LinkArrow from "@components/LinkArrow.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getEntry } from "astro:content";

const resume = await getEntry("definitions", "resume");
---

<div class="max-w-4xl flex gap-4 flex-col">
    {
        resume.data.projects.map((project: any) => (
            <ProjectCard
                name={project.name}
                technologies={project.technologies}
                sourceUrl={project.sourceUrl}
                liveUrl={project.liveUrl}
                status={project.status}
                imagePath={project.imagePath}
            >
                {project.description}
            </ProjectCard>
        ))
    }
    <div class="print:hidden flex justify-center">
        <LinkArrow
            link="https://github.com/kacperwyczawski?tab=repositories"
            text="Find more on my GitHub"
        />
    </div>
</div>
