---
import arxChessImage from "@images/arx-chess.png";
import autoCutImage from "@images/autocut.png";
import elektronetImage from "@images/elektronet.png";
import nixosImage from "@images/nixos.png";
import sigmaCarsImage from "@images/sigma-cars.png";
import Chip from "./Chip.astro";
import LinkButton from "./LinkButton.astro";
import Mockup from "./Mockup.astro";

interface Props {
	name: keyof typeof projects;
}

const { name } = Astro.props;

const projects = {
	nixos: {
		name: "NixOS.org",
		status: null,
		technologies: [
			"Astro",
			"Tailwind CSS",
			"TypeScript",
			"Nix",
			"DaisyUI",
			"MDX",
		],
		sourceUrl: "https://github.com/NixOS/nixos-homepage",
		liveUrl: "https://nixos.org",
		image: nixosImage,
	},
	elektronet: {
		name: "Elektronet",
		status: null,
		technologies: [
			"PHP",
			"Laravel",
			"FilamentPHP",
			"Tailwind CSS",
			"SQLite",
			"Docker",
			"Portainer",
			"Caddy",
			"Traefik",
		],
		sourceUrl: "https://github.com/kacperwyczawski/elektronet",
		liveUrl: "https://elektronet.zse.rzeszow.pl",
		image: elektronetImage,
	},
	arxchess: {
		name: "Arx Chess",
		status: "beta",
		technologies: ["Vite", "Vercel", "TypeScript", "Nix"],
		sourceUrl: "https://github.com/kacperwyczawski/arx-chess",
		liveUrl: "https://arx.wyczawski.dev",
		image: arxChessImage,
	},
	autocut: {
		name: "AutoCut",
		status: "beta",
		technologies: ["Vite", "Vue", "TypeScript", "Nix"],
		sourceUrl: "https://github.com/kacperwyczawski/autocut",
		liveUrl: "https://autocut.wyczawski.dev",
		image: autoCutImage,
	},
	sigmacars: {
		name: "Sigma Cars",
		status: "beta",
		technologies: [
			"Docker",
			"C#",
			"ASP.NET Core",
			"EF Core",
			"PostgreSQL",
			"Nuxt",
			"Vue",
			"Tailwind CSS",
			"TypeScript",
			"CI/CD",
			"Nginx",
		],
		sourceUrl: "https://github.com/kacperwyczawski/sigma-cars",
		liveUrl: null,
		image: sigmaCarsImage,
	},
	website: {
		name: "Wyczawski.dev",
		status: null,
		technologies: ["Astro", "Tailwind CSS", "TypeScript", "Nix"],
		sourceUrl: "https://github.com/kacperwyczawski/website",
		liveUrl: null,
		image: null,
	},
};

const project = projects[name];
---

<div
  class="bg-neutral-100 dark:bg-slate-850 border border-neutral-200 dark:border-slate-800 rounded-lg"
>
  {
    project.image && (
      <Mockup
        image={project.image}
        alt={project.name + " mockup"}
        url={project.liveUrl ?? project.sourceUrl}
      />
    )
  }
  <div class="p-4 flex flex-col gap-4">
    <h1 class="text-2xl font-fancy text-fuchsia-700 dark:text-fuchsia-400">
      {project.name}
      {
        project.status && (
          <span class="text-sm text-neutral-700 dark:text-slate-600">
            ({project.status})
          </span>
        )
      }
    </h1>
    <div class="flex gap-1 sm:gap-2 flex-wrap">
      {project.technologies.map((tech) => <Chip>{tech}</Chip>)}
    </div>
    <p class="prose dark:prose-invert max-w-none">
      <slot />
    </p>
    <div class="grid grid-flow-col auto-cols-fr gap-4">
      {
        project.sourceUrl && (
          <LinkButton text="Source" link={project.sourceUrl} />
        )
      }
      {
        project.liveUrl && (
          <LinkButton text="Live" link={project.liveUrl} />
        )
      }
    </div>
  </div>
</div>
