---
import type { SkillGroup } from "../types/SkillGroup";
import Chip from "./Chip.astro";

export interface Props {
    content: SkillGroup;
}

const { content } = Astro.props;
---

<div class="bg-neutral-100 dark:bg-slate-850 p-4 rounded-lg border dark:border-slate-800">
    <div class="flex gap-2 text-neutral-700 dark:text-neutral-300 items-center">
        <Fragment set:html={content.iconSvg} />
        <h3 class="text-xl font-bold">
            {content.title}
        </h3>
    </div>
    <p class="flex gap-1 md:gap-2 flex-wrap font-mono mt-4">
        {
            content.preferredSkills.map((skill) => (
                <Chip emphasis={true}>{skill}</Chip>
            ))
        }
        {content.skills.map((skill) => <Chip>{skill}</Chip>)}
    </p>
</div>
