---
export interface Props {
    dates: string;
    location: string;
    title: string;
    company: string;
    companyLink: string;
}

const { dates, location, title, company, companyLink } = Astro.props
---

<li class="border-l last:border-none pl-6 pb-4 before:content[''] before:border before:rounded-full before:h-6 before:w-6 before:absolute before:border-fuchsia-700 before:bg-neutral-50">
    <div class="text-neutral-400 text-lg leading-6">
        {dates} / {location}
    </div>
    <div class="text-xl font-semibold text-neutral-800">
        {title} at
        <a href={companyLink} class="underline decoration-fuchsia-700 hover:decoration-2">
            {company}
        </a>
    </div>
</li>

<style>
    li::before {
        left: calc(.25rem + .5px); /* because border width = 1px */
    }
</style>