---
export interface Props {
	date: string;
	location: string;
	head: string;
	tail: string;
	tailUrl: string;
	type?: string | undefined;
}

const { date, location, head, tail, tailUrl, type } = Astro.props;
---

<li>
  <span
    class="text-neutral-400 text-sm font-semibold dark:text-slate-500 border border-fuchsia-700 dark:border-fuchsia-400 rounded-lg px-1.5 py-0.5 shadow-xs"
  >
    {date}
  </span>
  <div class="border-l border-neutral-200 pl-2 ml-4 pb-6 pt-2 dark:border-slate-800">
    <div
      class="contrast-more:text-black text-neutral-400 text-lg dark:text-slate-500 leading-none"
    >
      {location}
      {type && `- ${type}`}
    </div>
    <div class="text-xl font-semibold mt-1">
      {head}
      <a
        href={tailUrl}
        class="underline decoration-fuchsia-700 dark:decoration-fuchsia-400 hover:decoration-2"
      >
        {tail}
      </a>
    </div>
    <ul class="max-w-none prose dark:prose-invert mt-2 leading-snug">
      <slot />
    </ul>
  </div>
</li>
<style>
  li:last-child > div {
    padding-bottom: 0.5rem;
  }
</style>
