---
import Layout from "@layouts/Layout.astro";
import LinkArrow from "@components/LinkArrow.astro";
import { getCollection } from "astro:content";
import Chip from "@components/Chip.astro";
import LinkButton from "@components/LinkButton.astro";
import Mockup from "@components/Mockup.astro";
import { translate } from "@utils/localization";

const projects = await getCollection("projects");
export function getStaticPaths() {
  return [
    {
      params: { lang: "en" },
    },
    {
      params: { lang: "pl" },
    },
  ];
}
const { lang } = Astro.params;
---

<Layout lang={lang}>
  <main class="p-2 md:p-4">
    <div class="max-w-4xl mx-auto flex gap-4 flex-col">
      {
        projects.toReversed().map((project) => (
          <div class="bg-neutral-100 dark:bg-slate-850 border dark:border-slate-800 rounded-lg">
            {project.data.image && (
              <Mockup
                image={project.data.image}
                alt={project.data.name + " mockup"}
                url={project.data.liveUrl ?? project.data.sourceUrl}
              />
            )}
            <div class="p-4 flex flex-col gap-4">
              <h1 class="text-2xl font-fancy text-fuchsia-700 dark:text-fuchsia-400">
                {project.data.name}
                {project.data.status && (
                  <span class="text-sm text-neutral-700 dark:text-slate-600">
                    ({project.data.status})
                  </span>
                )}
              </h1>
              <div class="flex gap-1 sm:gap-2 flex-wrap">
                {project.data.technologies.map((tech) => (
                  <Chip>{tech}</Chip>
                ))}
              </div>
              <p>
                {lang === "pl"
                  ? project.data.descriptionPl
                  : project.data.description}
              </p>
              <div class="flex gap-4">
                {project.data.sourceUrl && (
                  <LinkButton text="Source" link={project.data.sourceUrl} />
                )}
                {project.data.liveUrl && (
                  <LinkButton text="Live" link={project.data.liveUrl} />
                )}
              </div>
            </div>
          </div>
        ))
      }
      <div class="flex justify-center">
        <LinkArrow
          link="https://github.com/kacperwyczawski?tab=repositories"
          text={translate("link.github-projects", lang)}
        />
      </div>
    </div>
  </main>
</Layout>
